.file-input-container {
  width: 270px;
  position: relative;
  height: 40px;
  text-align: center;
  margin: 10px;
}

.file-input-label {
  position: absolute;
  z-index: 1;
  height: 36px;
  width: 93px;
  transform: translate(2px,2px);
  background-color: #666;
  font-size: 14px;
  padding: 8px;
  user-select: none;
  cursor: pointer;
}

.file-input {
  z-index: 0;
  height: 40px;
  padding: 8px 8px;
  background-color: #666;
  border-radius: 5px;
  width: 270px;
  cursor: pointer;
}