.album-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    margin: 10px;
    img {
      width: 512px;
      height: 512px;
      object-fit: contain;
    }
  }
  
}