.image-component {
  width: 202px;
  height: 184px;
  border: solid 1px #fff;
  margin: 10px;
}

.image-component.selected{
  box-shadow: 1px 1px 5px 1px #c0c0c0;
}

.image-component-container{
  width: 200px;
  height: 162px;
}

.image-component-image{
  object-fit: contain;
  width:200px;
  height: 162px;
}

.image-component-size-info{
  height: 20px;
  margin: 0;
}