.crop-image-container{
  width: 512px;
  height: 512px;
  position: relative;

  margin: 20px;
}

.crop-image-canvas{
  width: 512px;
  height: 512px;
  cursor: crosshair;
}

.crop-image-guide{
  border: dotted #fff 1px;
  background-color: #fff;
  opacity: 0.3;
  height: 0px;
  width: 0px;
  position: absolute;
  transform: translate(0px, 0px);
  top:0;
  left: 0;
  z-index: 1000;
  cursor: crosshair;
}

.crop-image-size-guide {
  border: solid black 1px;
  background-color: #fff;
  color: black;
  height: 17px;
  position: absolute;
  transform: translate(0px, 0px);
  top:0;
  left: 0;
  z-index: 1000;
  cursor: crosshair;
  user-select: none;
  visibility: hidden;
  font-size: 12px;
  padding: 0px 5px;
}