.image-edit-container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cropped-images{
  display: flex;
}

.image-preview {
  .selected-cropped-images-preview {
    width: 512px;
    height: 512px;
    object-fit: contain;
  }
}

.choose-file-button-container{
  display: flex;
  justify-content: center;
}

.upload-button {
  margin: 20px;
}